# 1280. Students and Examinations

In [1]:
import pandas as pd

In [ ]:


def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(students,examinations,on='student_id',how='left')
    df = df.groupby(['student_id','student_name','subject_name'], dropna=False).size().reset_index(name='attended_exams')
    # df = df.groupby(['student_id','student_name','subject_name'], dropna=False).count().reset_index().fillna(0)
    return df

In [53]:

def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    df1 = students.merge(subjects,how='cross')
    df2 = examinations.groupby(['student_id','subject_name']).size().reset_index(name='attended_exams')
    df = df1.merge(df2,how='left', left_on=['student_id','subject_name'], right_on=['student_id','subject_name'])
    df['attended_exams'] = df['attended_exams'].fillna(0)
    return df.sort_values(['student_id','subject_name'])

In [54]:
data = [[1, 'Alice'], [2, 'Bob'], [13, 'John'], [6, 'Alex']]
students = pd.DataFrame(data, columns=['student_id', 'student_name']).astype({'student_id':'Int64', 'student_name':'object'})
data = [['Math'], ['Physics'], ['Programming']]
subjects = pd.DataFrame(data, columns=['subject_name']).astype({'subject_name':'object'})
data = [[1, 'Math'], [1, 'Physics'], [1, 'Programming'], [2, 'Programming'], [1, 'Physics'], [1, 'Math'], [13, 'Math'], [13, 'Programming'], [13, 'Physics'], [2, 'Math'], [1, 'Math']]
examinations = pd.DataFrame(data, columns=['student_id', 'subject_name']).astype({'student_id':'Int64', 'subject_name':'object'})

In [55]:
students_and_examinations(students,subjects,examinations)

    student_id student_name subject_name  attended_exams
0            1        Alice         Math             3.0
1            1        Alice      Physics             2.0
2            1        Alice  Programming             1.0
3            2          Bob         Math             1.0
4            2          Bob      Physics             0.0
5            2          Bob  Programming             1.0
9            6         Alex         Math             0.0
10           6         Alex      Physics             0.0
11           6         Alex  Programming             0.0
6           13         John         Math             1.0
7           13         John      Physics             1.0
8           13         John  Programming             1.0