# 176. Second Highest Salary

Medium

In [1]:
import pandas as pd

In [ ]:


def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    employee=employee.drop_duplicates(subset='salary')
    return employee[['salary']].sort_values('salary').iloc[[-2]].rename(columns={'salary':'SecondHighestSalary'}) if len(employee)>=2 else pd.DataFrame({'SecondHighestSalary':[None]})

In [45]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [46]:
second_highest_salary(employee)

   SecondHighestSalary
1                  200