In [1]:
import pandas as pd

In [2]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    employee = employee.sort_values('salary',ascending=False).drop_duplicates(subset='salary').reset_index()
    return pd.DataFrame({f'getNthHighestSalary({N})':[employee['salary'][N-1] if len(employee)>=N and N>0 else None]})

In [3]:
data = [[1, 100], [2, 200], [3, 300],[4, 100]]
employee = pd.DataFrame(data, columns=['Id', 'salary']).astype({'Id':'Int64', 'salary':'Int64'})

In [4]:
nth_highest_salary(employee,-1)

  getNthHighestSalary(-1)
0                    None