# 184. Department Highest Salary
Medium

In [1]:
import pandas as pd

In [ ]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    join_tbl = pd.merge(employee, department, left_on = 'departmentId', right_on = 'id', how = 'left')
    max_salary = join_tbl.groupby('name_y')['salary'].transform('max')
    res = join_tbl[join_tbl.salary == max_salary]
    return(res[['name_y', 'name_x', 'salary']].rename(columns = {'name_y' : 'Department', 'name_x' : 'Employee', 'salary' : 'Salary'}))

In [3]:
data = [[1, 'Joe', 70000, 1], [2, 'Jim', 90000, 1], [3, 'Henry', 80000, 2], [4, 'Sam', 60000, 2], [5, 'Max', 90000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

In [6]:
department_highest_salary(employee, department)

  Department Employee  Salary
1         IT      Jim   90000
2      Sales    Henry   80000
4         IT      Max   90000