# 185. Department Top Three Salaries
Hard

In [1]:
import pandas as pd

## الحل يعمل ولكن ليس أفضل أداء
## Solution works but not best performance

In [2]:

def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    employee = employee.merge(department, how='left', left_on='departmentId', right_on='id').rename(columns={'name_x':'Employee','salary':'Salary','id_y':'dep_id', 'name_y':'Department'})
    employee = employee.sort_values(by=['Department','Salary'],ascending=[True, False])
    res = pd.DataFrame([],columns=['Department', 'Employee', 'Salary']).astype({ 'Department':'object','Employee':'object','Salary':'Int64'})
    for d in employee['Department'].unique():
        set_of_dep_salaries = pd.Series(employee['Salary'][employee['Department']==d].unique()).sort_values(ascending=True)
        for i in range(3):
            if len(set_of_dep_salaries)>0:
                s = set_of_dep_salaries.pop(i)
                wanted = employee[['Department','Employee','Salary']][(employee['Department']==d) & (employee['Salary']==s)]
                res = pd.concat([res, wanted])
    return res

In [3]:
data = [[1, 'Joe', 85000, 1], [2, 'Henry', 80000, 2], [3, 'Sam', 60000, 2], [4, 'Max', 90000, 1], [5, 'Janet', 69000, 1], [6, 'Randy', 85000, 1], [7, 'Will', 70000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

In [4]:
top_three_salaries(employee,department)

  Department Employee  Salary
3         IT      Max   90000
0         IT      Joe   85000
5         IT    Randy   85000
6         IT     Will   70000
1      Sales    Henry   80000
2      Sales      Sam   60000

## (ليس حلي) أفضل حل
## Best solution (not mine)

In [ ]:
import pandas as pd

def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(employee, department, right_on ='id', left_on='departmentId').rename(columns={"name_x": "Employee", "name_y": "Department", 'salary':'Salary'})
    df['Rank'] = df.groupby(['Department'])['Salary'].rank(method='dense', ascending=False)
    df = df[df['Rank'] <=3]
    df = df[['Department', 'Employee', 'Salary']]
    return df