# 196. Delete Duplicate Emails

Easy

In [1]:
import pandas as pd

In [ ]:
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by=['id'],inplace=True)
    person.drop_duplicates(subset="email",inplace=True)

In [3]:
data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [4]:
delete_duplicate_emails(person)

In [5]:
person

   id             email
0   1  john@example.com
1   2   bob@example.com