# 511. Game Play Analysis I
Easy

In [1]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    activity.sort_values(['player_id','event_date'],inplace=True)
    activity = activity.drop_duplicates(subset=['player_id'])
    return activity[['player_id','event_date']].rename(columns={'event_date':'first_login'})

In [2]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [3]:
game_analysis(activity)

   player_id first_login
0          1  2016-03-01
2          2  2017-06-25
3          3  2016-03-02

### حل آخر
### Another solution

In [4]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    # Group the activity data by 'player_id' and find the minimum 'event_date' for each player
    first_login_df = activity.groupby('player_id')['event_date'].agg(min).reset_index()

    # Rename the resulting column to 'first_login'
    first_login_df = first_login_df.rename(columns={'event_date': 'first_login'})

    return first_login_df