# 550. Game Play Analysis IV

Medium

In [1]:
import pandas as pd

In [2]:
def gameplay_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    total_player = activity['player_id'].drop_duplicates().count()
    first_log_df = activity.groupby('player_id')[['event_date']].min().reset_index()
    first_sec_df = first_log_df.merge(activity, how='left', left_on=['player_id'],right_on=['player_id'])
    first_sec_df = first_sec_df[first_sec_df['event_date_x']+ pd.DateOffset(1)==first_sec_df['event_date_y']]
    return pd.DataFrame([[len(first_sec_df)/total_player]], columns=['fraction']).astype({'fraction':'float64'}).round(2)

In [3]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-03-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [7]:
gameplay_analysis(activity)

   fraction
0      0.12