# 570. Managers with at Least 5 Direct Reports
Medium

In [2]:
import pandas as pd

In [1]:
import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    counts = employee.groupby('managerId').count().reset_index()
    counts = counts[['managerId']][counts['id']>=5]
    return employee[['name']][employee['id'].isin(counts['managerId'])]

In [2]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [3]:
find_managers(employee)

   name
0  John

### (ليس حلي) أفضل حل
### Better solution (not mine)

In [4]:
import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    group = employee[['id', 'managerId']].groupby(by='managerId', as_index=False).count()
    return group[group.id >= 5].merge(employee, how='inner', left_on='managerId', right_on='id')[['name']]